.App {
  text-align: center;
  margin: 0 auto;
  width: 1080px;
}

header {
  position: fixed;
  top: 0;
  width: 1080px;
  background-color: darkred;
  border: 7px dotted yellow;
  color: white;
  padding: 3px;
  border-radius: 7px;
  margin-top: 10px;
}

body {
  background-color: antiquewhite;
  background-image: url("https://cms-assets.tutsplus.com/cdn-cgi/image/width=850/uploads/users/1500/posts/29997/final_image/%D0%A1%D0%BE%D1%85%D1%80%D0%B0%D0%BD%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5%20%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%202017-11-18_14-8-20.345.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  margin-top: 160px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.movie_card {
  margin: 13px 13px;
  width: 200px;
  height: 375px;
  box-shadow: 0px 4px 8px 0px;
  text-align: center;
  background-color: white;
  border-radius: 7px;
  transition: 0.3s;
}
.movie_card:hover {
  box-shadow: 0px 8px 16px 0px white;
}

.details_container {
  margin: 0 auto;
  width: 750px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

img {
  width: 200px;
}

.poster_details {
  margin: 13px 13px;
  width: 200px;
  height: 375px;
  box-shadow: 0px 4px 8px 0px white;
  text-align: center;
  background-color: white;
  border-radius: 7px;
}

.movie_specs {
  margin: 0px 30px;
  background-color: white;
  padding: 10px;
  border-radius: 7px;
}

.home_btn {
  padding: 3px;
  border: 7px dotted yellow;
  background-color: inherit;
  border-radius: 3px;
  color: yellow;
}

.home_btn:hover {
  box-shadow: 0px 8px 16px 0px yellow;
  background-color: yellow;
  color: darkred;
}

.intro {
  margin-bottom: 0px;
}

.big_name {
  margin-top: 0px;
}
